/*
 * This CSS is released under Creative Commons Zero 1.0 Universal license:
 * https://creativecommons.org/publicdomain/zero/1.0/legalcode.txt
 */

h1,h2,h3,h4{font-weight:normal; font-size:2em}

.specs
{
	float: right;
}

:not(p)
{
	max-width: 85em;
	margin: 0 auto;
}


@media (max-width:90em)
{
	html
	{
		font-size: 1.05em;
	}
}
@media (min-width:90em)
{
	html
	{
		font-size: 1.10em;
	}
}
@media (min-width:110em)
{
	html
	{
		font-size: 1.15em;
	}
}

html
{
	/* color: #280b22; */
	color: #ede;
	background: #1c1c1e;
	font-family: sans-serif;
	line-height: 1.4;
	text-shadow: 1px 1px #000;
}
hr {
	color: #666;
}

code,pre, #TOC, a:hover, img
{
	background: #34383c;
	border-radius:0.25em;
}
header img
{
	background: none;
}

a
{
	color: #caffff;
}

img,video,iframe,pre
{
	max-width: 100%;
	overflow: auto;
}

.title>*, header ul>li, .nav ul>li,
#footer ul>li, .h:hover>*
{
	display: inline;
	margin: 0.7%;
	text-align :center;
}

.title>*, span.date
{
	display: block;
}

html, ul, #TOC
{
	padding: 1em;
}

.date, .author, .h a
{
	display: none;
}

div.title:hover {
	cursor: pointer;
}

@media (min-width:60em)
{
	.title-logo{display:none; background:none;}
	div.title,h1.title {
		background:url("/favicon.ico") no-repeat;
		background-size:auto 99%;
		min-height:2em
	}
	div.title {background-position:right}
	h1.title {padding:0 4em; font-size:2.5em; font-weight:normal;}
	#TOC
	{
		float: left;
		margin: 1em;
		min-width: 25%;
	}
}

h2
{
	font-size: 2em;
}
h3
{
	font-size: 1.6em;
}
h4
{
	font-size:1.2em;
}

.f, .f *
{
	position: fixed;
	max-width: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
}

.f *
{
	transform: translate(-50%, -50%);
}

.f
{
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

*:focus + .f
{
	display: block;
}

img
{
	cursor: pointer;
}

.l,.r {
	max-width:25%;
	margin:1em;
}
.r {
	float: right;
}
.l {
	float: left;
}
.p {
	max-width: 13em;
}
