/*
 * This CSS is released under Creative Commons Zero 1.0 Universal license:
 * https://creativecommons.org/publicdomain/zero/1.0/legalcode.txt
 */

/* this green style was experimental, but i scrapped it before publishing
the first canoeboot website. i opted for a lighter theme instead. */

.specs
{
	float: right;
}

:not(p)
{
	max-width: 85em;
	margin: 0 auto;
}


@media (min-width:90em)
{
	html
	{
		font-size: 1.05em;
	}
}

html
{
	background: #143232;
	color: #eee;
	font-family: sans-serif;
	line-height: 1.4;
}
hr{display:none;}

ul,code,pre, #TOC, a:hover
{
	background: #102121;
	border-radius:0.3em;
}

#TOC{
	min-width:25%;
	float:left;
	margin-right:1.1em;
	margin-bottom:1em;
}
ul{padding-left:1em}

a
{
	color: #cfc;
}

img,video,iframe,pre
{
	max-width: 100%;
	overflow: auto;
}

.title>*, header ul>li, .nav ul>li,
#footer ul>li, .h:hover>*
{
	display: inline;
	margin: 0.7%;
	text-align :center;
}

#footer{margin-top:1em}

.title>*, span.date
{
	display: block;
}

html, ul, #TOC
{
	padding: 1em;
}

.date, .author, .h a
{
	display: none;
}

.f, .f *
{
	position: fixed;
	max-width: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
}

.f *
{
	transform: translate(-50%, -50%);
}

.f
{
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

*:focus + .f
{
	display: block;
}

img
{
	cursor: pointer;
}

.l,.r {
	max-width:40%;
	margin:1em;
}
.r {
	float: right;
}
.l {
	float: left;
}
.p {
	max-width: 13em;
}

span.fcc
{
	background: #fcc;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 0.9em;
}
.fcc p {padding:0; margin: 0}

header ul, #footer ul
{
	text-align:center;
	margin-top:2em;
	margin-bottom:2em;
}

@media (min-width:60em)
{
	.title-logo{display:none}
	div.title,h1.title {
		background:url("/favicon.ico") no-repeat;
		background-size:auto 99%;
		min-height:3em
	}
	div.title {background-position:right}
	h1.title {padding:0 4em; font-size:2.5em; font-weight:normal;}
	#TOC
	{
		float: left;
		margin: 1em;
		min-width: 25%;
	}
}
